<footer class="footer-distributed">

    <div class="footer-left">
        <!-- <img src="/logo.png"> -->
        <h3><span>Online Medical Consultation</span></h3>

        <p class="footer-links">
            <a href="#">Home</a>
            |
            <a href="#">About</a>
            |
            <a href="#">Register</a>
            |
            <a href="#">Contact</a>
        </p>

        <p class="footer-company-name">© 2021 OMC</p>
    </div>

    <div class="footer-center">
        <div>
            <i class="fa fa-map-marker"></i>
            <p><span>12 - Ruby Enclave,
                    Bldg. No. 23&24 - G3, </span>
                Chromepet, Chennai - 600044</p>
        </div>

        <div>
            <i class="fa fa-phone"></i>
            <p class="p">+91 12-345678</p>
        </div>
        <div>
            <i class="fa fa-envelope"></i>
            <p><a href="">omc@medics.com</a></p>
        </div>
    </div>
    <div class="footer-right">
        <p class="footer-company-about">
            <span>About the application</span>
            A digital solution to make healthcare simpler and more accessible
            to the patients.
        </p>
        <div class="footer-icons">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <!-- <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-youtube"></i></a> -->
        </div>
    </div>
</footer>