<!-- my original nav  -->
<nav class="nav">
  <h3 id="h3">OMC</h3>
  <ul class="nav-links">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/about">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/contact">Contact us</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/login">Login here</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/appointment">Appointment</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/patient">Patient</a>
    </li>
  </ul>
</nav>