<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

  <body>

    <%- include('./partials/nav.ejs') %>
      <%- include('./partials/footer.ejs') %>
        <ul id="about">
          <li>Doctor-Patient Interaction system is a web based application that gives the user a personal experience
            regarding their consultation with doctors . </li>
          <li>It eliminates the need to wait in line for consultation in a clinic.</li>
          <li>People can be more confident and decide on whether they actually need immediate medical attention .
          </li>
          <li>This way of using technology makes it easier for patients to get immediate relief regarding their issues.
          </li>
          <li>The Doctor-Patient Interaction System is a digital solution to make healthcare simpler and more accessible
            to the patients.</li>
          <li>The Doctor-Patient Interaction System is a digital solution to make healthcare simpler and more accessible
            to the patients. The similar existing applications usually consists of the following: </li>
          <ul>
            <li> Access chat consultations with doctors.</li>
            <li>Find appointments with doctors near you.</li>
          </ul>
          <li>This way of using technology makes it easier for patients to get immediate relief regarding their issues.
          </li>
        </ul>
  </body>

</html>