<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

  <body>

    <%- include('./partials/nav.ejs') %>

      <%- include('./partials/footer.ejs') %>

        <section class="wrapper2">
          <h1 class="dtitle">DIAGNOSIS REPORT</h1>
          <p class="dpara">Here is your diagnosis report <br><br>
            Your symptoms correspond to Covid-19
          </p>




          <!-- <div class="embed2" data-cdc-widget='healthBot' data-cdc-theme='theme1' class='cdc-widget-color-blue'
            data-cdc-language='en-us'></div>
          <script src='https://t.cdc.gov/1M1B'></script>
 -->



          <!-- <div class="div2">

            <ol class="ol">
              <h1 class="dtitle">Do's</h1>
              <li>Wash your hands frequently with soap and water</li>
              <li>Cover your mouth & nose</li>
              <li>Consult a doctor if sick</li>
            </ol>
          </div>

          <div class="div3">

            <ol class="ol">
              <h1 class="dtitle">Dont's</h1>
              <li>Avoid Close Contact With Anyone</li>
              <li>Do Not Use Over The Counter Medicines</li>
              <li>Don’t Panic, Take It Easy</li>
            </ol>
          </div> -->

        </section>
  </body>

</html>