<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

  <body>

    <%- include('./partials/nav.ejs') %>

      <div class="d-flex justify-content-center success">
        <h1>Your details have been submitted successfully.</h1>
      </div>
      <div id="here">
        Click&nbsp;<a href="/patient.ejs">here&nbsp;</a>to login
      </div>
  </body>

</html>